.team-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 90px;
  align-items: center;
  .team-list__team {
    display: grid;
    border-left: 1px solid #ccc;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 1fr;
    grid-template-areas:
      "team-pick"
      "team-name";
    height: 100%;
    background: #ffffff;
    .team-list__team--pick {
      grid-area: team-pick;
      border-bottom: 1px solid #ccc;
      padding-left: 1rem;
      label {
        line-height: 35px;
        font-size: 0.875rem;
        margin-bottom: 0;
      }
    }
    .team-list__team--name {
      grid-area: team-name;
      padding-left: 1rem;
      h3 {
        margin: 0;
        line-height: 55px;
        font-weight: 600;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .team-list {
    grid-template-columns: 1fr !important;
    .team-list__team {
      border: 1px solid #ccc;
    }
  }
}