.player-list-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 3rem;
  .player-list-container__table {
    width: 100%;
    margin-top: 2rem;
    border-radius: 2px;
    border: 1px solid #ddd;
    box-shadow: none;
    .player-list-container__table--action {
      text-align: right;
      .mat-primary {
        border-radius: 2px;
        line-height: 28px;
        background-color: #1B48E0;
        font-weight: 400;
        letter-spacing: 0.05rem;
      }
    }
  }
  .player-list-container__header {
    border-bottom: 1px solid #CCCCCC;
    flex-grow: 1;
    height: 37px;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: 37px;
    width: 100%;
    margin-bottom: 0;
    margin-top: 2rem;
    h2 {
      border-bottom: 2px solid #333333;
      color: #333333;
      display: inline;
      font-weight: 500;
      font-size: 20px;
      line-height: 2.03;
      padding-bottom: 4px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      text-transform: uppercase;
    }
  }
}